.achivements{
    &__table{
        margin-left: 34px;
    }
    &__img{
        width: 694px;
        height: 491px;
        display: block;
        margin: 3% 0 0 12%;
        transition: 0.3s;
        &:hover{
            filter: blur(2px);
            transition: 0.3s;
        }
        @include media-tablet{
            width: 80%;
            height: 80%;
        }
    }

    @include media-tablet{
        &__table{
            margin-left: 0;
        }
    }
}