.code{
    margin-top: 45px;
    &__article{
        margin-left: 30px;
    }
    &__text{
        margin-left: 30px;
        font-weight: 600;
    }
    &__code{
        font-size: 1.5rem;
        text-align: left;
    }
}