%hamburger-line{
    content: "";
    display: inline-block;
    position: absolute;
    background-color: $color-burger;
    border-radius: 5px;
    height: 3px;
    width: 100%;
}

.hamburger{
    display: none;
    width: 31px;
    height: 19px;
    position: relative;
    &__line{
        @extend %hamburger-line;
        top: calc(50% - 1.5px);
        left: 0;
        transition-duration: all 0.3ms;

        &:before {
            @extend %hamburger-line;
            top: -8px;
            left: 0;
            transition-duration: all 0.3ms;
        }
    
        &:after {
            @extend %hamburger-line;
            top: 8px;
            left: 0;
            transition-duration: all 0.3ms;
        }
    }

    @include media-mobile-big{
        display: block;
    }
}

#menu__toggle {
    display: none;
    opacity: 0;
    width: 31px;
    height: 31px;
    &:checked ~ label > span {
        transition-duration: all 0.3ms;
        transform: rotate(45deg);
        &:before{
            transition-duration: all 0.3ms;
            top: 0;
            transform: rotate(0);
         }
         &:after{
            transition-duration: all 0.3ms;
             top: 0;
             transform: rotate(90deg);
          }
        
    }
}

/* стилизуем кнопку */
.menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }


.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 200px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Rokkitt', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}
