.information{
    display: flex;
    justify-content: center;
    margin-left: 90px;
    &_add{
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    @include media-tablet{
        margin: 0;
        flex-direction: column;
        align-items: center;
    }
}
