.nav__rs{
    display: inline-block;
    width: 104px;
    height: 39px;
    background-image: url(/images/rss_logo.svg);  
}

.logo__git{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(/images/github_logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px 25px;
}