@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;300;400;500;700&display=swap');

html {
    font-size: 10px;
    scroll-behavior: smooth;
    @include media-mobile-big{
        font-size: 7px;
    }
    @include media-mobile-small{
        font-size: 5px;
    }
}

body {
    background-color: $color-bg;
    @extend %font-primery;
    font-size: 2.4rem;
}

h1 {
    font-size: 4rem;
    font-weight: 400;       
}

h2 {
    font-size: 3.2rem;
    font-weight: 500;
    color: $color-secondary;
}

h4 {
    font-size: 3rem;
    font-weight: 500;
}

a {
    text-decoration: none;
    &:visited{
      color:$color-links;
    }
  }


