$color-primary:#000000;
$color-secondary:#F6003C;
$color-links:#000000;
$color-links-active:#FB8111;
$color-border: #818181;
$color-bg:#E5E5E5;
$color-wrapper:#ffffff;
$color-burger:#173A56;

$content-width: 1110px;
$content-tablet-width: 1192px;
$mobile-big-width:820px;
$mobile-small-width:360px;