.header{
    // position: sticky;  stable scroll header
    // top: 0;
    margin-top: 21px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 100;
    @include media-mobile-big{
        justify-content: space-between;
    }
}